@model TranVanTai.DuongTuanDuy.Models.NHAXUATBAN

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form name="CapNhatNhaXuatBan" action="~/Admin/NhaXuatBan/Edit" method="post">
        <h3>Cap nhat nha xuat ban</h3>
        <input type="hidden" name="MaNXB" value="@Model.MaNXB" />
        <table>
            <tr>
                <td>Ten nha xuat ban</td>
                <td>
                    <input type="text" name="TenNXB" value="@Model.TenNXB"/>
                </td>
            </tr>
            <tr>
                <td>Dia chi</td>
                <td>
                    <input type="text" name="DiaChi" value="@Model.DiaChi"/>
                </td>
            </tr>
            <tr>
                <td>Dien thoai</td>
                <td>
                    <input type="text" name="DienThoai" value="@Model.DienThoai"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Cap Nhat" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
